<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#404</title>
    <link rel="icon" href="images/logo/icons8-p-50.png" type="image/x-icon" />
    <style>
        .info {
            width: 33%;
            margin: auto;
            height: 270px;
            font-family: cursive;
        }
        .go_home {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="info">
        <p><b>Эта страница недоступна</b><br>
        Возможно, ссылка не работает или страница удалена. Проверьте правильность ссылки, 
        по которой вы пытаетесь перейти.</p>
        <a class="go_home" href="../index.html"><hr>Go to Home page</hr></a>
    </div>
</body>
</html>